@model TOPZONE.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.TenDN.TrimEnd() }, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "text-decoration-none" })
</p>
