@model IEnumerable<TOPZONE.DonDatHang>
@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thống kê</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Số đơn hàng theo ngày
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Doanh thu theo tháng
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Danh sách đơn hàng
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Ngày đặt</th>
                            <th>Người đặt</th>
                            <th>Trị giá</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã</th>
                            <th>Ngày đặt</th>
                            <th>Người đặt</th>
                            <th>Trị giá</th>
                            <th>Tình trạng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var dh in Model)
                        {
                            <tr>
                                <td>@dh.MaDH</td>
                                <td>@dh.NgayDH</td>
                                <td>@dh.KhachHang.TenKH</td>
                                <td>@dh.TriGia</td>
                                <td>@dh.TrinhTrang</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>



